@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    border: none;
}

body {
    font-family: 'Poppins', sans-serif;
}


$primary-yellow: #FBB900;
$suport-collor: #F0D075;
$gray-font: #9F9F9F;
$gray2: #E5E5E5;
$blue-font: #041E50;
$black: #4D4D4D;
$background: #FEF6E7;
$gradient: #4D3F19;